/* ==========
Global
========== */

.site-section {
    padding-top: 30px;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    border: none;
    outline: none;
    font-size: 1.5em;
    padding: 0 8px;
    border-radius: 10px;
    color: white;
    background-color: #0075AC;
}

/* ==========
General Typography
========== */


h1 {
    font-size: 1em;
    font-weight: 700;
    color: #0075AC;
    transition: all 0.1s linear;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
    margin-bottom: 30px;
    font-weight: 700;
}

h3 {
    font-family: 'Signika', cursive;
    text-align: center;
    font-weight: 200;
    font-size: 1.5em;
    color: #0075AC;
}

p {
    font-size: 1em;
    font-family: 'Signika', sans-serif;
    text-align: center;
}


/* ==========
Layout Nav
========== */

nav h2 {
    font-size: 1.15em;
    text-align: left;
    font-weight: bold;
    margin: 10px 0 0 0;
    font-family: 'Indie Flower', cursive;
    transition: all 0.1s linear;
}

.nav-link {
    text-decoration: none;
    text-align: right;
    font-family: 'Signika', sans-serif;
    font-size: 1.3em;
    color: rgb(105, 105, 105);
    font-weight: 300;
}

.nav-link:hover {
    color: #0075AC;
}

@media (min-width: 400px) {
    h1 {
        font-size: 1.1em;
    }

    nav h2 {
        font-size: 1.3em;
    }
    
    .navbar-brand {
        margin-left: 20px;
    }
}

@media (min-width: 992px) {
    .navbar-brand {
        margin-left: 50px;
    }
}

/* ==========
Layout Home
========== */

#home {
    height: 250px;
    border: solid grey 1px;
    transition: all 0.1s linear;
    background: rgb(51, 51, 51);
    background-size:cover;
}

#editor-intro {
    font-size: 1.5em;
    color: white;
    padding-left: 10px;
    border-bottom: rgba(255, 255, 255, 0.281) 1px solid;
}

#changing-intro {
    color: white;
    font-size: 1.2em;
    margin: 0 5%;
}

.home-buttons {
    width: 120px;
    height: 53px;
    background: #004E64;
    border-radius: 60px;
    font-size: 0.7em;
    padding: 10px;
    text-align: center;
    line-height: 33px;
    margin: 0 auto;
    font-family: 'Signika', sans-serif;
    text-decoration: none;
    color: white;
    transition: all 0.1s linear;
}

.home-buttons:hover {
    color: white;
    transform: scale(1.1);
}

@media (min-width: 300px) {
    .home-buttons {
        width: 130px;
        font-size: 0.8em;
    }
}

@media (min-width: 320px) {
    .home-buttons {
        width: 140px;
        font-size: 0.88em;
    }
}

@media (min-width: 360px) {
    #changing-intro {
        font-size: 1.5em;
    }

    .home-buttons {
        width: 160px;
        font-size: 1em;
    }
}

@media (min-width: 720px) {

    .home-buttons {
        width: 200px;
        font-size: 1.2em;
    }
}

@media (min-width: 992px) {
    #home {
        height: 300px;
        margin: 25px auto;
    }

    #changing-intro {
        color: white;
        font-size: 1.8em;
    }

    .home-buttons {
        width: 300px;
        font-size: 1.4em;
    }
}

/* ==========
Layout About
========== */

.about-section {
    margin: 20px 0;
}

#about-profile-pic {
    width: 208px;
    height: 208px;
    margin: 0 auto;
    border-radius: 100%;
    border: black 1px solid;
    background: url(../assets/Photo_Profil.jpg) no-repeat center center;
    background-size: cover;
}

#about-quote {
    font-size: 1.2em;
    font-weight: 600;
    color: rgb(41, 136, 41);
}

.about-presentation {
    margin: 20px 2% 10px;
    padding: 20px 30px;
    border-radius: 5px;
}

.about-presentation p {
    margin-bottom: 10px;
    text-align: justify;
}

.about-socials {
    width: 50%;
    font-size: 3em;
    text-decoration: none;
}

.about-socials a:hover{
    opacity: 70%;
}

.github {
    color: black;
}

@media (min-width: 992px) {
    #about-profile-pic {
        width: 250px;
        height: 250px;
        margin: 30px 40px;
    }
}

/* ==========
Layout Portfolio
========== */

.portfolio-section {
    width: 80%;
    margin: 20px auto;
    text-decoration: none;
    color: black;
    transition: all 0.1s linear;
}

.portfolio-section p {
    font-weight: 300;
    font-size: 0.9em;
}

.portfolio-section:hover {
    transform: scale(1.1);
    color: black;
}

.portfolio-section img {
    height: 120px;
    display: block;
    margin: auto;
}

.img_description {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:0;
    padding-top: 100px;
    color: black;
    background-color: rgba(219, 219, 219, 0.6);
    border-radius: 10px;
}

.img_description p {
    font-size: 1.1em;
    font-weight: 500;
}

.portfolio-section:hover .img_description {
    visibility: visible;
    opacity: 1;
}

@media (min-width: 992px) {
    .portfolio-section {
        width: 25%;
        margin: 20px auto;
    }

    .portfolio-section img {
        height: 150px;
    }
    
}

/* ==========
Layout Skills
========== */

.skills-logos img {
    width: 40%;
    height: auto;
    display: block;
    margin: auto;
}

.skills-logos-four img {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
}

.skills-big-section {
    width: 90%;
    margin: auto;
}

.skills-section {
    background: rgb(253, 253, 253);
    padding-top: 10px;
    border: 0.5px rgba(41, 41, 41, 0.5) solid;
    border-radius: 3px;
}

@media (min-width: 992px) {
    .skills-big-section {
        width: 40%;
        margin: 20px auto;
    }
}


/* ==========
Layout Works
========== */

.works-section {
    width: 80%;
    margin: 20px auto 10px;
    transition: all 0.1s linear;
}

.works-section p {
    font-size: 1em;
    font-weight: 300;
}

.works-section img {
    height: 100px;
    display: block;
    margin: auto;
    border-radius: 100%;
    padding: 15px 0;
}

@media(min-width: 800px) {
    .works-section {
        width: 40%;
    }
}

@media(min-width: 1400px) {
    .works-section {
        width: 35%;
    }
}

/* ==========
Layout Exp Perso
========== */

.personal_exp-section {
    width: 80%;
    margin: 20px auto;
}

.personal_exp-section p {
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: 300;
    text-align: justify;
}

@media (min-width: 800px) {
    .personal_exp-section {
        width: 45%;
    }
}


/* ==========
Layout Hobbies
========== */

.hobbies-section {
    width: 80%;
    margin: 20px auto 10px;
    transition: all 0.1s linear;
}

.hobbies-hobby p {
    width: 80%;
    text-align: justify;
}

.hobbies-hobby i{
    display:inline-block;
    margin: 2px auto;
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    text-align: center;
    vertical-align: bottom;
    color: #0075AC;
}

/* ==========
Layout Contact
========== */

#contact {
    padding-bottom: 30px;
}

form {
    background: rgb(253, 253, 253);
    border: 0.5px rgba(41, 41, 41, 0.5) solid;
    width: 80%;
    height: 100%;
    padding: 30px;
    margin: 20px auto;
    border-radius: 5px;
    font-family: 'Signika', sans-serif;
    transition: all 0.1s linear;
}

label {
    max-width: 80%;
    font-size: 1em;
    text-align: left;
    margin: auto;
}

input, textarea {
    max-width: 100%;
    display: block;
    padding: 20px;
    border-width: thin;
    border-radius: 3px;
    transition: all 0.1s linear;
    font-size: 1em;
    font-weight: 300;
    margin: 10px 0;
}

input {
    height: 50px;
}

textarea {
    min-height: 250px;
}

textarea:focus, input:focus{
    outline: 1px solid black;
}

#contact button {
    width: 100px;
    height: 50px;
    display: block;
    margin: 30px auto 0;
    background-color: #004E64;
    color: white;
    border: black 1px solid;
    border-radius: 30px;
    font-family: 'Signika', sans-serif;
    transition: all 0.1s ease;
}

#contact button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

@media (min-width: 720px) {
    form {
        width: 700px;
    }

    input, textarea {
        width: 460px;
    }
}